@import "tailwindcss";

:root {
  --color-bg: #f9f9f9;
  --color-text: #111;
  --color-primary: #000;
  --color-accent: #ff3c38;

  --font-main: 'Poppins', sans-serif;

  --transition-fast: 0.3s ease;
  --radius: 0.5rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
  line-height: 1.6;
}